LOGISTICADB/LogisticaDB_ViewModel/Service References/ServiceReference_LogisticaDB/LogisticaDB_ServiceWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2247/LogisticaDB_ServiceWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.Dtos" />
  <xs:element name="InsertarAlmacen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="dto" nillable="true" type="q1:almacenDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarAlmacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarAlmacenResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarAlmacen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="dto" nillable="true" type="q2:almacenDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarAlmacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarAlmacenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAlmacen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDAlmacen" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAlmacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarAlmacenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlmacenXnombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombrealmacen" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlmacenXnombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="ListarAlmacenXnombreResult" nillable="true" type="q3:ArrayOfalmacenDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlmacenes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlmacenesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="ListarAlmacenesResult" nillable="true" type="q4:ArrayOfalmacenDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarAlmacenPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDAlmacen" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarAlmacenPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="BuscarAlmacenPorIDResult" nillable="true" type="q5:almacenDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarCatalogo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="dto" nillable="true" type="q6:catalogoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarCatalogoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarCatalogoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCatalogo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="dto" nillable="true" type="q7:catalogoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCatalogoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarCatalogoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCatalogo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDcatalogo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCatalogoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarCatalogoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCatalogoXnombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre_bien" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCatalogoXnombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="ListarCatalogoXnombreResult" nillable="true" type="q8:ArrayOfcatalogoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCatalogoXtipobien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipobien" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCatalogoXtipobienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="ListarCatalogoXtipobienResult" nillable="true" type="q9:ArrayOfcatalogoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCatalogos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCatalogosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="ListarCatalogosResult" nillable="true" type="q10:ArrayOfcatalogoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCatalogoPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDcatalogo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCatalogoPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="BuscarCatalogoPorIDResult" nillable="true" type="q11:catalogoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="dto" nillable="true" type="q12:departamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarDepartamentoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="dto" nillable="true" type="q13:departamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarDepartamentoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDdepartamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarDepartamentoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDepartamentoXnombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre_departamento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDepartamentoXnombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="ListarDepartamentoXnombreResult" nillable="true" type="q14:ArrayOfdepartamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDepartamentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDepartamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="ListarDepartamentosResult" nillable="true" type="q15:ArrayOfdepartamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDepartamentoPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDdepartamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDepartamentoPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="BuscarDepartamentoPorIDResult" nillable="true" type="q16:departamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarEntidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="dto" nillable="true" type="q17:entidadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarEntidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarEntidadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEntidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="dto" nillable="true" type="q18:entidadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEntidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarEntidadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEntidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEntidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarEntidadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEntidadXnombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreentidad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEntidadXnombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="ListarEntidadXnombreResult" nillable="true" type="q19:ArrayOfentidadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEntidades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEntidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="ListarEntidadesResult" nillable="true" type="q20:ArrayOfentidadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEntidadPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEntidadPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="BuscarEntidadPorIDResult" nillable="true" type="q21:entidadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="dto" nillable="true" type="q22:proyectoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarProyectoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="dto" nillable="true" type="q23:proyectoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarProyectoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idproyecto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarProyectoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProyectoXnombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreproyecto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProyectoXnombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="ListarProyectoXnombreResult" nillable="true" type="q24:ArrayOfproyectoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProyectoXidusuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idusuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProyectoXidusuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="ListarProyectoXidusuarioResult" nillable="true" type="q25:ArrayOfproyectoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProyectos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProyectosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="ListarProyectosResult" nillable="true" type="q26:ArrayOfproyectoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProyectoPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idproyecto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProyectoPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="BuscarProyectoPorIDResult" nillable="true" type="q27:proyectoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarRequerimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="dto" nillable="true" type="q28:requerimientoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarRequerimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarRequerimientoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarRequerimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="dto" nillable="true" type="q29:requerimientoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarRequerimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarRequerimientoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRequerimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idrequerimiento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRequerimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarRequerimientoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRequerimientoXidusuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idusuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRequerimientoXidusuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="ListarRequerimientoXidusuarioResult" nillable="true" type="q30:ArrayOfrequerimientoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRequerimientoXidalmacen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idalmacen" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRequerimientoXidalmacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="ListarRequerimientoXidalmacenResult" nillable="true" type="q31:ArrayOfrequerimientoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRequerimientoXdetallerequerimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="detallerequerimiento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRequerimientoXdetallerequerimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="ListarRequerimientoXdetallerequerimientoResult" nillable="true" type="q32:ArrayOfrequerimientoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRequerimientos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRequerimientosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="ListarRequerimientosResult" nillable="true" type="q33:ArrayOfrequerimientoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarRequerimientoPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idrequerimiento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarRequerimientoPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="BuscarRequerimientoPorIDResult" nillable="true" type="q34:requerimientoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarRequerimientoDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="dto" nillable="true" type="q35:requerimiento_detalleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarRequerimientoDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarRequerimientoDetalleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarRequerimientoDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="dto" nillable="true" type="q36:requerimiento_detalleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarRequerimientoDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarRequerimientoDetalleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRequerimientoDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idrequerimientodetalle" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRequerimientoDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarRequerimientoDetalleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRequerimientoDetalleXID_Requerimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_requerimiento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRequerimientoDetalleXID_RequerimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="ListarRequerimientoDetalleXID_RequerimientoResult" nillable="true" type="q37:ArrayOfrequerimiento_detalleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRequerimientoDetalles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRequerimientoDetallesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="ListarRequerimientoDetallesResult" nillable="true" type="q38:ArrayOfrequerimiento_detalleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarRequerimientoDetallePorIdrequerimientodetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idrequerimientodetalle" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarRequerimientoDetallePorIdrequerimientodetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="BuscarRequerimientoDetallePorIdrequerimientodetalleResult" nillable="true" type="q39:requerimiento_detalleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarUnidadMedida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="dto" nillable="true" type="q40:unidad_medidaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarUnidadMedidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarUnidadMedidaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUnidadMedida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="dto" nillable="true" type="q41:unidad_medidaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUnidadMedidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarUnidadMedidaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUnidadMedida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idunidadmedida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUnidadMedidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarUnidadMedidaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUnidadMedidaXnombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreunidadmedida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUnidadMedidaXnombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="ListarUnidadMedidaXnombreResult" nillable="true" type="q42:ArrayOfunidad_medidaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUnidadDeMedidas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUnidadDeMedidasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="ListarUnidadDeMedidasResult" nillable="true" type="q43:ArrayOfunidad_medidaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUnidadMedidaPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idunidadmedida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUnidadMedidaPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="BuscarUnidadMedidaPorIDResult" nillable="true" type="q44:unidad_medidaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="dto" nillable="true" type="q45:usuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarUsuarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="dto" nillable="true" type="q46:usuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idusuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuarioXnombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombresusuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuarioXnombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="ListarUsuarioXnombreResult" nillable="true" type="q47:ArrayOfusuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="ListarUsuariosResult" nillable="true" type="q48:ArrayOfusuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuarioPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idusuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuarioPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="BuscarUsuarioPorIDResult" nillable="true" type="q49:usuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>